*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-nav button{
    background-color: #f7f9f8;
    color: #c993c7;
    border: 1px solid #c993c7; 
  }
  .topnav {
    overflow: hidden;
    background-color: #c993c7;
    height: 20vh;
  }
  #home, .logo{
    max-width:13vw ;
    position: relative;
    top: 0.5em;
    padding-left: 4vw ;
  }
  .item {
    padding-left: 20em;
    position: relative;
    bottom: 6em;
  }
  .item a {
    padding-left: 10vw;
  }
th{
    font-size: 30px;
    color: white;
    
    padding-left: 20px ;

    
}
.topnav button{
    background-color: #c993c7 ;
    border: 1px solid white;
}

table{
  padding: 60px;
  justify-content: center;
  
  background-color: #c993c7;
  width: 100%;
  text-align: center;
  display: flex;
  height: 25vh;
}
td{
    font-size: 13px;
    padding-top: 3vh;
    opacity: 0.5;
}
  button p{
    display: flex;
    text-align: center;
  }
  button {
    background-color: #7e4379;
    color: white;
    height: 10vh;
  padding: 10px;
    margin-left: 3vw;
    border-style: none;
    border-radius: 30px;
  }
  .main-nav a{
      color: #c993c7;
      text-decoration: none;
  }
  .main-nav{
    text-decoration: none;
    font-size: 17px;
  
  }

  .topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
  }
  .banner{
    background-color: #f7f9f8;
  }
  .img-banner{
    max-width: 100%;
    padding-left: 65vw;
    margin-bottom: 100px;
  }

  .text-banner{

    position: relative;
    bottom: 24em;
    
  }
  h5{
    padding-left: 7em;

  }
  .topnav-hidden {
    display: none;
  }
  
  .topnav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 1;
    /* Adicione outros estilos, como fundo, cores, etc. */
  }
    h1{
        padding-left: 3em;
        margin-right: 20em;
    }
   .teste{
 padding-right: 30em;
 padding-left: 6em;

  }
  .text-banner, h5,h1 {
    margin-top: 1vh;
    margin-bottom: 3vh;

  }
  .btn-banner{
 margin-left: 7em;
 position: relative;
 top: 3em;
  }
.textos{
    position: relative;
    bottom: 8em;

}

  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {

    .logo{
        width:15vw ;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }